   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="assets/profile.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2><%= t('about_me') %></h2>

					 <ul>
					   <li><%= t('qualify_1') %>
					   <li><%= t('qualify_2') %>
					 </ul>

            <div class="row">

               <div class="columns contact-details">

                  <h2><%= t('contact_details') %></h2>
                  <p class="address">
						   <span>Dener Wiliam Pereira do Carmo</span><br>
						   <span>Av. Paulo de Frontin, 451<br>
						         Rio de Janeiro, RJ - Brasil<br> CEP 20261-240
                     </span><br>
						   <span>(21)99767-6382</span><br>
                     <span>dener.wilian@gmail.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="#" class="button"><i class="fa fa-download"></i><%= t('Download Currículo') %></a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->
